/* *{
    margin: 0%;
    padding: 0%;
    
} */
/* Fade in animation */
body {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.845), rgb(0, 0, 0)), url('./download\ \(95\).jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

}

header {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: gold;
    text-decoration: underline;
}

form {
    font-size: 25px;
    padding: 20px;
    color: white;
}

form p {
    margin-bottom: 20px;
}

h2 {
    padding-bottom: 20px;
    font-size: 30px;
    color: white !important;

}

p {
    font-size: 40px;
    color: white;
}

h3 {
    font-size: 50px;
    color: gold;
    text-align: center;
}

form input {
    margin-bottom: 30px !important;
}

form button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: gold;
    border-radius: 10px;
    color: black;
    text-align: center !important;
    margin-left: 550px;
}

.time {
    font-size: 25px !important;
    margin-left: 1050px;
    padding-top: 20px;
    position: fixed;
    color: gold;
}
