div{
    border: 2px white solid;
    text-align: center;
    background-color: gold;
    padding: 50px;
    margin: 100px 400px;
    border-radius: 20px;
}

h2{
    text-align: center;
    font-size: 30px;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.845), rgb(0, 0, 0)), url('./download\ \(95\).jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

}
.name{
    font-size: 20px;
    margin-right: 350px;
    margin-bottom: 50px !important;
}
.name{
    font-size: 20px;
    margin-right: 350px;
    margin-bottom: 50px !important;
}
.name{
    font-size: 20px;
    margin-right: 350px;
    margin-bottom: 50px !important;
}

button{
    padding: 5px 30px;
    font-size: 15px;
}
/* Fade in animation */
body {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
