body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    color: white;
}

/* *{
    margin: 0%;
    padding: 0%;
} */

/* Fade in animation */
body {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.845), rgb(0, 0, 0)), url('./download\ \(95\).jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

}

div h2{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}

div p{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

div button{
    font-size: 20px;
    text-align: center;
    padding: 5px 30px;
    border-radius: 5px;
    margin-left: 600px;
    margin-top: 200px;
    background-color: gold;

    
}
div a{
    text-decoration: none;
    color: white;
}

